{% extends "full.html" %}

{% block title %}Recents{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recents.css') }}">
{% endblock %}

{% block content %}
    <title>Recents</title>
    <script src="{{ url_for('static', filename='javascript/recents.js') }}"></script>
    <div id="title">
        <h1>Recents</h1>
    </div>
    <div class="top">
        <div id="last">
            <h3>Last Messaged</h3>
            <div class="p-container">
                <p>Name</p>
                <p>Date</p>
                <ul>
                    {% for reminder in reminders %}
                        <li>
                            <span>{{ reminder[1] }}</span>
                            <span>{{ reminder[2] }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="chat">
            <h3>Chat Soon</h3>
            <div class="p-container">
                <p>Name</p>
                <p>Next Date</p>
                <ul>
                    {% for reminder in reminders %}
                    <li>
                        <span>{{ reminder[1] }}</span>
                        <span>{{ reminder[3] }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="reconnect">
            <h3>Reconnect</h3>
            <div class="p-container">
                <p>Name</p>
                <p>Relationship</p>
                <ul>
                   {% for reminder in reminders %}
                    <li>
                        <span>{{ reminder[1] }}</span>
                        <span>{{ reminder[5] }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
